
#template stuff (use relative paths from template db directory)
[template]
fn_template_head=Shapes/template_mesh.obj
fn_landmarks_face_ears=Landmarks/template_landmarks_ears.sel

#head stuff (use relative paths from head project directory)
[head]
#filename of the head pointset
fn_pointset=Shapes/fragment_mesh.xyz
fn_landmarks_facialfeatures=Landmarks/fragment_landmarks.sel

